<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE struts PUBLIC
        "-//Apache Software Foundation//DTD Struts Configuration 2.0//EN"
        "http://struts.apache.org/dtds/struts-2.0.dtd">
<struts>
    <package name="app" namespace="/app" extends="struts-default">
    
<!--          <action name="login" class="action.LoginAction">
           <result name="success" type="redirect">
           		/index.jsp
           </result>
           <result name="fail" type="redirect">
           		/jsp/login/loginFail.jsp
           </result>
           <result name="notFound" type="redirect">
           		/jsp/login/loginFail.jsp
           </result>
         </action> -->
         
         
      <action name="login" class="action.LoginAction">
        <result name="success" type="redirect">
           /index.jsp
        </result>
        <result name="fail" type="redirect"> 
        /jsp/login/loginFail.jsp
        </result>
      </action>
      
      <action name="logout" class="action.LogoutAction">
      <result name="success" type="redirect">
      /index.jsp
      </result>
      </action>
                 
         <action name="signup" class="action.JoinAction">
			<interceptor-ref name="prepare" />
			<interceptor-ref name="modelDriven" />
			<interceptor-ref name="params" />
			<result name="success" type="redirect">
				/index.jsp
			</result>
			<result name="fail" type="redirect">
				/jsp/login/signup.jsp
			</result>
		</action>
		
		<action name="memberList" class="action.MemberAction">
		<result type="dispatcher" name="success">
		/jsp/login/memAjax.jsp
		</result>
		</action>
		
		
		<action name="memInfo" class="action.MemInfoAction">
			 <result name="info">/jsp/myPage/memInfo.jsp</result>
			 <result name="modify">/jsp/myPage/memModify.jsp</result> 
		</action>
       

        
       <action name="memModify" class="action.MemModifyAction">
          <result name="success" type="chain">
            <param name="actionName">memInfo</param>           
          </result>
       </action>


		<action name="adminMemList" class="action.MemberAction">
			<result>/jsp/admin/memList.jsp</result>
		</action>



        <action name="adminMemModify" class="action.MemModifyAction">
        <result name="success" type="redirect">
           /jsp/admin/memList.jsp
        </result>
        </action>
        
        <action name="memSignout" class="action.MemSignoutAction">
        <result name="success" type="redirect">
           /index.jsp
        </result>
        </action>
        
        <action name="pwModify" class="action.MempwModifyAction">
        <result name="success" type="redirect">
           /jsp/admin/memList.jsp
        </result>
        </action>
        
          
    </package>
</struts>












